## Exercicios - Métodos e Funções

- Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e depois faça uma chamada à função para listar os números

In [9]:
def pares():
    for i in range(1, 20):
        if i % 2 == 0:
            print(i)

In [10]:
pares()

2
4
6
8
10
12
14
16
18

- Exercício 2 - Crie uma função que receba uma string como argumento e retorne a mesma string em letras maiúsculas. Faça uma chamada à função, passando como parâmetro uma string

In [13]:
def maiuscula(string):
    print(string.upper())

In [14]:
maiuscula('eu')

EU

- Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e imprima a lista

In [20]:
def addLista(lista):
    lista.append(2)
    lista.append(3)
    print(lista)

In [21]:
lista = [1,4,5,6]

In [22]:
addLista(lista)

[1, 4, 5, 6, 2, 3]

- Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas à função, com apenas 1 elemento e na segunda chamada com 4 elementos

In [25]:
def funcao(arg1, *lista):
    print(arg1)
    for i in lista:
        print(i)
    return;

In [26]:
funcao(2)

2

In [27]:
lista = [1,2,3]

In [28]:
funcao(lista)

[1, 2, 3]

- Exercício 5 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2 números como parâmetro e retornar a soma deles

In [29]:
def anonima(n1, n2):
    print(n1 + n2)

In [30]:
anonima(2,3)

5

- Exercício 6 - Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local

In [32]:
total = 0

def soma( arg1, arg2 ):
    total = arg1 + arg2 
    print ("Dentro da função o total é: ", total)
    return total

In [33]:
soma( 10, 20 )
print ("Fora da função o total é: ", total)

Dentro da função o total é:  30
Fora da função o total é:  0

- Exercício 7 - Abaixo você encontra uma lista com temperaturas em graus Celsius
- Crie uma função anônima que converta cada temperatura para Fahrenheit
Dica: para conseguir realizar este exercício, você deve criar sua função lambda, dentro de uma função 
(que será estudada no próximo capítulo). Isso permite aplicar sua função a cada elemento da lista
Como descobrir a fórmula matemática que converte de Celsius para Fahrenheit? Pesquise!!!

In [41]:
celsius = [39.2, 36.5, 37.3, 37.8, 0]

In [42]:
Fahrenheit = map(lambda celsius: (celsius * float(9/5)) + 32, celsius)

In [43]:
print(list(Fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999, 32.0]

- Exercício 8 - Crie um dicionário e liste todos os métodos e atributos do dicionário

In [44]:
dic = {'emily': 23, 'Lucas': 22}

In [45]:
dir(dic)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- Exercício 9 - Abaixo você encontra a importação do Pandas, um dos principais pacotes Python para análise de dados. Analise atentamente todos os métodos disponíveis. Um deles você vai usar no próximo exercício.

In [46]:
import pandas as pd
dir(pd)

['Categorical',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'ExcelFile',
 'ExcelWriter',
 'Expr',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int64Index',
 'Interval',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseSeries',
 'Term',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt64Index',
 'WidePanel',
 '_DeprecatedModule',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p10',
 '_np_version_under1p11',
 '_np_version_under1p12',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_tslib',
 '_version',
 'api',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'datetools',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'get_store',
 'groupby',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json',
 'lib',
 'lreshape',
 'match',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'parser',
 'period_range',
 'pivot',
 'pivot_table',
 'plot_params',
 'plotting',
 'pnow',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'scatter_matrix',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tools',
 'tseries',
 'tslib',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

************* Desafio ************* (pesquise na documentação Python)

- Exercício 10 - Crie uma função que receba o arquivo abaixo como argumento e retorne um resumo estatístico descritivo do arquivo. Dica, use Pandas e um de seus métodos, describe()
- Arquivo: "binary.csv"

In [51]:
import pandas as pd

In [52]:
file_name = "binary.csv"

In [53]:
def leitura(file_name):
    df_teste = pd.read_csv(file_name)
    return df_teste.describe()

In [54]:
leitura(file_name)

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000