## Tuplas

- criando uma tuplas

In [1]:
tupla1 = ("Geografia", 23, "Elefantes")
tupla1

('Geografia', 23, 'Elefantes')

tuplas não suportam append()

- tuplas não suportam delete de um item especifico

In [3]:
del tupla1["Gatos"]

TypeError: 'tuple' object does not support item deletion

- tuplas podem ter um unico item

In [4]:
tupla1 = ("Chocolate")
tupla1

'Chocolate'

In [5]:
tupla1 = ("Geografia", 23, "Elefantes")

In [6]:
tupla1[0]

'Geografia'

- verificando o comprimento da tupla

In [7]:
len(tupla1)

3

- slicing, da mesma forma que se faz com listas

In [8]:
tupla1[1:]

(23, 'Elefantes')

In [9]:
tupla1.index('Elefantes')

2

- Tuplas não suportam atribuição de item

In [11]:
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

- deletando uma tupla

In [12]:
del tupla1

- criando uma tupla

In [13]:
t2 = ('A', 'B', 'C')
t2

('A', 'B', 'C')

- Usando a função list() para converter uma tupla para lista

In [16]:
lista_t2 = list(t2)
lista_t2

['A', 'B', 'C']

In [17]:
lista_t2.append('D')
lista_t2

['A', 'B', 'C', 'D']

- Usando a função tuple() para converter uma lista para tupla

In [19]:
t2 = tuple(lista_t2)

In [20]:
t2

('A', 'B', 'C', 'D')