## Dicionários

- lista

In [1]:
estudantes_lst = ["Mateus", 24, "Fernanda", 22, "Tamires", 26, "Cristiano", 25]
estudantes_lst

['Mateus', 24, 'Fernanda', 22, 'Tamires', 26, 'Cristiano', 25]

- dicionário

In [2]:
estudantes_dict = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}
estudantes_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [3]:
estudantes_dict["Mateus"]

24

In [5]:
estudantes_dict["Pedro"] = 23
estudantes_dict["Pedro"]

23

In [6]:
estudantes_dict.clear()

In [7]:
estudantes_dict

{}

In [8]:
del estudantes_dict

In [10]:
estudantes = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}
estudantes

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [11]:
len(estudantes)

4

In [12]:
estudantes.keys()

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])

In [13]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [14]:
estudantes.items()

dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25)])

In [16]:
estudantes2 = {"Maria":27, "Erika":28, "Milton":26}
estudantes2

{'Maria': 27, 'Erika': 28, 'Milton': 26}

In [17]:
estudantes.update(estudantes2)

In [18]:
estudantes

{'Mateus': 24,
 'Fernanda': 22,
 'Tamires': 26,
 'Cristiano': 25,
 'Maria': 27,
 'Erika': 28,
 'Milton': 26}

In [19]:
dic1 = {}
dic1

{}

In [20]:
dic1["key_one"] = 2
dic1

{'key_one': 2}

In [21]:
dic1[10] = 5
dic1

{'key_one': 2, 10: 5}

In [22]:
dic1[8.2] = "Python"
dic1

{'key_one': 2, 10: 5, 8.2: 'Python'}

In [23]:
dict2 = {}

In [24]:
dict2["key1"] = "Big Data"

In [25]:
dict2["key2"] = 10

In [30]:
dict2["key3"] = 5.6

In [31]:
dict2

{'key1': 'Big Data', 'key2': 10, 'key3': 5.6}

In [32]:
a = dict2["key1"]

In [33]:
b = dict2["key2"]

In [34]:
c = dict2["key3"]

In [35]:
a, b, c

('Big Data', 10, 5.6)

- dicionario de listas

In [36]:
dict3 = {'key1':1230, 'key2':[22,453,73.4], 'key3':['leite','maça','batata']}
dict3

{'key1': 1230, 'key2': [22, 453, 73.4], 'key3': ['leite', 'maça', 'batata']}

In [37]:
dict3['key2']

[22, 453, 73.4]

- acessando um item da lista, dentro do dicionário

In [38]:
dict3['key3'][0].upper()

'LEITE'

- operações com itens da lista, dentro do dicionário

In [40]:
var1 = dict3['key2'][0] - 2
var1

20

- duas operações no mesmo comando, para atualizar um item dentro da lista

In [41]:
dict3['key2'][0] -= 2

In [42]:
dict3

{'key1': 1230, 'key2': [20, 453, 73.4], 'key3': ['leite', 'maça', 'batata']}

## Criando dicionarios aninhados

In [43]:
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [44]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [45]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'