## Exercicios Cap2

- Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [3]:
lista = []
for i in range(1,11):
    lista.append(i)

In [4]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [5]:
objetos = ['colher', 'mesa', 'cama', 'espelho', 'mouse']

In [6]:
objetos

['colher', 'mesa', 'cama', 'espelho', 'mouse']

- Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [7]:
string1 = 'Emily'

In [8]:
string2 = 'Rodrigues'

In [9]:
string3 = string1 + ' ' + string2

In [10]:
string3

'Emily Rodrigues'

- Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [12]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)

In [13]:
tupla.count(4)

3

- Exercício 5 - Crie um dicionário vazio e imprima na tela

In [14]:
dic_vazio = {}

In [15]:
dic_vazio

{}

- Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [16]:
dic = {'Emily': 23, 'Lucas': 22, 'Maria': 44}

In [17]:
dic

{'Emily': 23, 'Lucas': 22, 'Maria': 44}

- Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [18]:
dic['Fulano'] = 32

In [19]:
dic

{'Emily': 23, 'Lucas': 22, 'Maria': 44, 'Fulano': 32}

- Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
Imprima o dicionário na tela.

In [20]:
dic2 = {'Emily': [23,12], 'Lucas': 22, 'Maria': 44}

In [21]:
dic2

{'Emily': [23, 12], 'Lucas': 22, 'Maria': 44}

Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float.Imprima a lista na tela.

In [22]:
lista1 = ['fulano', (1,2), {'emily': 23, 'lucas': 22}, 3.78]

In [23]:
lista1

['fulano', (1, 2), {'emily': 23, 'lucas': 22}, 3.78]

- Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.

- frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [24]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [26]:
frase[0:18]

'Cientista de Dados'